<h1>Your Application</h1>

<%= @application.name %><br>
<%= @application.address %><br>
<%= @application.city %><br>
<%= @application.state %><br>
<%= @application.zip %><br>
<%= @application.phone_number %><br>
<%= @application.description %><br>


<h1>Pets: </h1>
<% @application.pets.each do |pet| %>
<section id="application-<%= pet.id%>">
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
  <% if @application.pets.with_approved_apps.include?(pet) %>
    <%= link_to "Remove Application", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
  <% else %>
    <%= link_to "Approve Application", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
  <% end %>
</section>
<% end %>
