<h1>Name: <%=@pet.name%></h1>
<h3>Pet ID: <%= @pet.id %></h3>

<%=image_tag("#{@pet.image}")%>
<p>Description: <%=@pet.description%></p>
<p>Age: <%=@pet.age%></p>
<p>Sex: <%=@pet.sex%></p>
<p>Status: <%=@pet.status%></p>

<%=link_to "Update Pet", "/pets/#{@pet.id}/edit"%><br>
<% if !favorite.include_pet?(@pet.id.to_s) %>
  <%= button_to "Add To Favorites", "/favorites/#{@pet.id}", method: :patch%><br>
<% else %>
  <%=button_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete %>
<% end %>

<%= form_tag "/pets/#{@pet.id}", method: :delete do %>
  <%= submit_tag(value="Delete Pet") %>
<% end %>
<% if @pet.status == "pending" && @app != nil %>
  <p> On hold for <%= @app.name %></p>
  <% end %>
<%= link_to "All Applications", "/pets/#{@pet.id}/applications" %>
